{% set _provider = (showroom_tls_provider | default(certbot_cert_manager_provider, true) | default('zerossl')) | lower %}
{% set _entrypoint = 'web' if _provider == 'none' else 'websecure' %}
{% set _runner_image = showroom_runtime_automation_image | default(showroom_ansible_runner_image, true) | default('quay.io/rhpds/zt-runner') %}
{% set _runner_tag = showroom_runtime_automation_image_tag | default(showroom_ansible_runner_image_tag, true) | default('v2.5.0') %}
{% set _runner_port = showroom_runtime_automation_port | default(8501) %}
{% set _runner_env = f_user_data | default({}) | combine(showroom_runtime_automation_environment_variables | default({})) %}
ansible-runner-api:
  image: {{ _runner_image }}:{{ _runner_tag }}
  container_name: ansible-runner-api
  hostname: ansible-runner-api
  restart: always
  environment:
    PORT: "{{ _runner_port }}"
    GUID: "{{ guid }}"
    DOMAIN: "{{ showroom_host }}"
{% for key, value in _runner_env.items() %}
    {{ key | upper }}: "{{ value }}"
{% endfor %}
  volumes:
    - "{{ showroom_user_content_dir }}:/showroom/repo:z,ro"
    - "{{ showroom_user_home_dir }}/.ssh:/app/.ssh"
  labels:
    - "traefik.enable=true"
    - "traefik.http.services.runner.loadbalancer.server.port={{ _runner_port }}"
    - "traefik.http.services.runner.loadbalancer.responseforwarding.flushinterval=-1"
    - "traefik.http.routers.runner.entrypoints={{ _entrypoint }}"
{% if _provider != 'none' %}
    - "traefik.http.routers.runner.tls.certresolver={{ _provider }}"
{% endif %}
    - "traefik.http.routers.runner.rule=Host(`{{ showroom_host }}`) && PathPrefix(`/stream`)"
    - "traefik.http.routers.runner.middlewares=runner-stripprefix"
    - "traefik.http.middlewares.runner-stripprefix.stripprefix.prefixes=/stream"
    - "traefik.http.routers.runner.service=runner"
    - "traefik.http.routers.runner.priority=50"
