apiVersion: v1
kind: Config
clusters:
- name: cluster
  cluster:
    server: {{ _rak8s_api_server | to_json }}
    certificate-authority-data: {{ _rak8s_ca_crt_b64 }}
contexts:
- name: qa-automation
  context:
    cluster: cluster
    user: qa-automation
    namespace: {{ ocp4_workload_runtime_automation_k8s_showroom_namespace | to_json }}
current-context: qa-automation
users:
- name: qa-automation
  user:
    token: {{ _rak8s_token | to_json }}
