apiVersion: v1
kind: Config
clusters:
- name: cluster
  cluster:
    server: {{ _rak8s_api_server | to_json }}
    certificate-authority-data: {{ _rak8s_ca_crt_b64 | to_json }}
contexts:
- name: {{ ocp4_workload_runtime_automation_k8s_sa_name }}
  context:
    cluster: cluster
    user: {{ ocp4_workload_runtime_automation_k8s_sa_name }}
    namespace: {{ ocp4_workload_runtime_automation_k8s_showroom_namespace | to_json }}
current-context: {{ ocp4_workload_runtime_automation_k8s_sa_name }}
users:
- name: {{ ocp4_workload_runtime_automation_k8s_sa_name }}
  user:
    token: {{ _rak8s_token | to_json }}
