apiVersion: k8s.ovn.org/v1
kind: EgressFirewall
metadata:
  name: default
  namespace: {{ _showroom_namespace }}
spec:
  egress:
{% if _showroom_cluster_ingress_ip is defined %}
    - type: Allow
      to:
        cidrSelector: {{ _showroom_cluster_ingress_ip }}/32
{% endif %}
    - type: Allow
      to:
        dnsName: {{ ocp4_workload_showroom_content_git_repo | urlsplit('hostname') }}
{% set _zt_host = ocp4_workload_showroom_zero_touch_bundle | default('') | urlsplit('hostname') %}
{% if _zt_host %}
    - type: Allow
      to:
        dnsName: {{ _zt_host }}
{% if _zt_host == 'github.com' %}
    - type: Allow
      to:
        dnsName: objects.githubusercontent.com
{% endif %}
{% endif %}
{% set _ui_host = ocp4_workload_showroom_content_antora_ui_bundle_url | default('') | urlsplit('hostname') %}
{% if _ui_host %}
    - type: Allow
      to:
        dnsName: {{ _ui_host }}
{% endif %}
{% for domain in ocp4_workload_showroom_egress_allow_domains %}
    - type: Allow
      to:
        dnsName: {{ domain }}
{% endfor %}
{% for cidr in ocp4_workload_showroom_egress_allow_cidrs %}
    - type: Allow
      to:
        cidrSelector: {{ cidr }}
{% endfor %}
    - type: Deny
      to:
        cidrSelector: 0.0.0.0/0
    - type: Deny
      to:
        cidrSelector: ::/0
