apiVersion: v1
kind: Config
clusters:
- name: cluster
  cluster:
    server: {{ _runtime_automation_api_server | to_json }}
    certificate-authority-data: {{ _runtime_automation_ca_crt_b64 | to_json }}
contexts:
- name: {{ ocp4_workload_showroom_runtime_automation_sa_name }}
  context:
    cluster: cluster
    user: {{ ocp4_workload_showroom_runtime_automation_sa_name }}
    namespace: {{ _showroom_namespace | to_json }}
current-context: {{ ocp4_workload_showroom_runtime_automation_sa_name }}
users:
- name: {{ ocp4_workload_showroom_runtime_automation_sa_name }}
  user:
    token: {{ _runtime_automation_token | to_json }}
